@import "../../Theme/sass/abstract/variables";
@import "../../Theme/sass/abstract/functions";

.SocialBar {
    display: flex;
    justify-content: flex-end;

    a {
        text-decoration: none;
        width: 4rem;
        height: 4rem;
        min-height: 4rem;
        min-width: 4rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
        opacity: .8;
        transition: transition(opacity);

        &:not(:last-of-type) {
            margin-right: 1rem;
        }

        &:hover {
            opacity: 1;
        }
    }

    .facebook {
        background-image: url("../../Theme/resources/img/facebook.svg");
    }

    .instagram{
        background-image: url("../../Theme/resources/img/instagram.svg");
        background-size: 100% 35px;
    }

    .twitter {
        background-image: url("../../Theme/resources/img/twitter.svg");
    }
}