@import "../../../theme/sass/abstract/variables";

.button {
    align-items: center;
    padding: $t-btn-padding-v $t-btn-padding-h;
    border-radius: $t-btn-border-radius;
    border: $t-btn-border-width $t-btn-border-style $t-btn-border-color;
    background-color: $t-btn-bg-color;
    min-width: $t-btn-min-width;
    font-family: $t-btn-font-family;
    font-size: $t-btn-font-size;
    color: $t-btn-text-color;
    line-height: $t-btn-line-height;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: none;
    overflow: visible;

    &:hover,
    &:active {
        color: $t-btn-active-hover-text-color;
        background-color: $t-btn-active-hover-bg-color;
        border-color: $t-btn-active-hover-border-color;
    }

    &:focus {
        border-color: $t-btn-focus-border-color;
        box-shadow: $t-btn-focus-box-shadow;
    }
}

.iconOnly {
    min-width: 3.2rem;
    max-width: 3.2rem;
    min-height: 3.2rem;
    max-height: 3.2rem;
    padding: 0;
    justify-content: center;
}

.primary {
    color: $t-btn-primary-text-color;
    background-color: $t-btn-primary-bg-color;
    border-color: $t-btn-primary-border-color;

    &:hover,
    &:active {
        color: $t-btn-primary-active-hover-text-color;
        background-color: $t-btn-primary-active-hover-bg-color;
        border-color: $t-btn-primary-active-hover-border-color;
    }

    &:focus {
        outline: 1px solid $white;
        outline-offset: -3px;
    }
}

.icon {
    margin-right: 1rem;
    font-size: 1.8rem;
    height: 1.8rem;
    width: 1.8rem;

    .iconOnly & {
        margin: 0;
    }
}

.flat {
    border-color: transparent;
    background-color: transparent;

    &:hover,
    &:active {
        color: $t-btn-primary-active-hover-text-color;
        background-color: $t-btn-primary-active-hover-bg-color;
        border-color: $t-btn-primary-active-hover-border-color;
    }
}