.Toolbar {
    height: 8rem;
    padding: 2rem;
    width: 100%;
    background-color: #f8f6fe;
    position: sticky;
    //top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    nav {
        height: 100%;
    }
}