@import "../../Theme/sass/abstract/variables";

.bookTop {
    display: flex;
    flex: 1;
    
    @media (max-width: 700px) {
        flex-wrap: wrap;
    }
    
    > div:first-of-type {
        width: 100%;
        
        @media (min-width: 701px) {
          margin-right: 2rem;
        }
      
        @media (max-width: 700px) {
          margin-bottom: 2rem;
        }
    }
    
    h3 {
        font-size: 2rem;
    }
    
    h4 {
        font-style: italic;
    }
    
    p {
        max-width: 100%;
    }
}

.bookWrapper {
    display: flex;
    justify-content: center;
    
    img {
        max-width: 100%;
        margin-bottom: 2rem;
        border-radius: 8px;
        overflow: hidden;
        min-width: 23rem;
        min-height: 26rem;
        width: 23rem;
        height: 26rem;
        box-shadow: 0 0 3px #ccc;
    }
    
    @media (max-width: 700px) {
        width: 100%;
    }
}

.bookBottom {
    width: calc(100% + (2*(#{$db-dialog-padding-h})));
    padding: 2rem;
    background-color: $white;
    position: sticky;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin: 0 -($db-dialog-padding-h);
    
    button {
        min-width: 50%;
        max-width: 50%;
        
        @media (max-width: 700px) {
            min-width: 100%;
            max-width: 100%;
        }
    }
}
