@import "../../../../../trello-app/src/theme/sass/abstract/variables";

.input {
    padding: 0.7rem $t-btn-padding-h;
    border-radius: $t-btn-border-radius;
    color: $text-color;
    font-size: $t-btn-font-size;
    border: $t-btn-border-width $t-btn-border-style $border-color;
    outline: none;

    &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 2px $primary-color;
    }
}