.BookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
  cursor: pointer;
}

.BookGenres {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.BookGenre {
  background-color: red;
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
}

.BookThumb {
  min-width: 23rem;
  max-width: 23rem;
  min-height: 26rem;
  max-height: 26rem;
  background-color: grey;
  border-radius: 0.8rem;
  overflow: hidden;
}

.BookBtn {
  margin-top: 0.5rem;
}
