@import "../../Theme/sass/abstract/variables";

.BookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
  cursor: pointer;
}

.BookOnPage {
  max-width: 27rem;
  box-shadow: 0 0 12px rgba($black, 0.3);
  border-radius: 1.6rem;
  margin: 2rem;
  padding: 2rem;

  img {
    margin-bottom: 1rem;
  }
}

.BookCardContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.BookCardFooter {
 width: 100%;
}

.BookGenres {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.BookGenre {
  background-color: #f8f6fe;
  color: #999;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
  font-size: $font-size-sm;
  font-family: $font-family-semibold;
}

.BookThumb {
  min-width: 23rem;
  max-width: 23rem;
  min-height: 26rem;
  max-height: 26rem;
  background-color: grey;
  border-radius: 0.8rem;
  overflow: hidden;
}

.BookBtn {
  margin-top: 0.5rem;
}