.Book {
    width: 30rem;
}

.BooksByGenre {
    &:last-of-type {
        display: none;
    }
}

.Row {
    display: flex;
    flex-direction: column;
}

.BooksWrap {
    display: flex;
    flex-wrap: wrap;
}